.covidp {
    padding: 4px 0;
    background-color: #233a95;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
    font-size: 12px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    border-bottom: 0.5px solid #bbbbbb;
  }
  
  .headerinhrefleri {
    font-size: 12px;
    color: grey;
  }
  
  .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  
  .hand,
  .callme,
  .eng,
  .usd {
    padding: 4px 8px;
    padding-right: 20px;
    border-right: 0.5px solid #bbbbbb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .fa-hand {
    padding-right: 8px;
    font-size: 20px;
  }
  
  /* bottom gelir */
  .bottom {
    padding: 20px 0;
  }
  
  .bottom .bottom-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .bottom .bottom-top .logoimage {
    width: 75%;
  }
  
  .bottom .bottom-top .logospan {
    font-size: 12px;
    width: 100%;
  }
  
  .bottom .bottom-top .logospankeeper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .bottom .bottom-top .locationkeeper {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.5px solid grey;
    border-radius: 5px;
  }
  
  .bottom .bottom-top .locationkeeper .locations {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .bottom .bottom-top .locationkeeper .locations .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  
  .bottom .bottom-top .locationkeeper .locations .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .bottom .bottom-top .inputkeeper {
    padding: 10px;
    background-color: #dbd9d9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  
  .bottom .bottom-top .inputkeeper .input1 {
    width: 100%;
    border: none;
    background-color: #dbd9d9;
    outline: none;
    padding: 10px;
  }
  
  .bottom .bottom-top .inputkeeper i {
    width: 5%;
    font-size: 20px;
    color: #4d4b4b;
  }
  
  .bottom .icons i {
    font-size: 30px;
    margin-left: 60px;
  }
  
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.5px solid white;
    border-radius: 100px;
    background-color: #2bbef9;
    color: white;
    padding: 15px;
    margin-top: 20px;
    width: 200px;
  }
  
  .bottom .right a {
    font-size: 15px;
    padding-top: 20px;
    background-color: transparent;
    border-radius: 80px;
    padding-left: 18px;
  }
  
  .xett {
    border-bottom: 1px solid #e3e4e6;
  }
  










#locationinpages {
    background-color: #f4f4f4;
    padding: 20px 0;
}
#locationinpages .all {
    font-family: Dosis;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#locationinpages .all .alllocations a {
    text-decoration: none;
    color: blue;
    font-size: 14px;
}
#locationinpages .all .alllocations i {
    font-size: 12px;
    color: grey;
    margin: 0px 10px;
}
#locationinpages .all .alllocations span {
    color: grey;
    font-size: 14px;
}







.body_product {
    background-color: #f4f4f4;
    padding-bottom: 60px;
}
#productinfo {
    background-color: #f4f4f4;
    margin-bottom: 40px;
}
#productinfo .all {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}
#productinfo .all .top {
    padding: 0;
    font-family: Inter;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
#productinfo .all .top p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}
#productinfo .all .top .head_prod {
    display: flex;
    align-items: center;
}
#productinfo .all .top .head_prod .brands_name {
    font-family: InterLight;
    padding-right: 10px;
    border-right: 1px solid #c4c4c4;
}
#productinfo .all .top .head_prod .brands_name span {
    font-size: 12px;
}
#productinfo .all .top .head_prod .brands_name span:first-child {
    color: #9b9bb4;
}
#productinfo .all .top .head_prod .brands_name span:last-child {
    color: black;
}
#productinfo .all .top .head_prod .rating_prod {
    padding: 0 10px;
    border-right: 1px solid #c4c4c4;
}
#productinfo .all .top .head_prod .rating_prod i {
    color: yellow;
    font-size: 12px;
}
#productinfo .all .top .head_prod .rating_prod .greyy {
    color: #c4c4c4;
}
#productinfo .all .top .head_prod .rating_prod span {
    font-size: 12px;
    font-family: InterLight;
    font-weight: 500;
}
#productinfo .all .top .head_prod .num_prod {
    padding: 0 10px;
    font-family: InterLight;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
}
#productinfo .all .top .head_prod .num_prod span:first-child {
    color: #9b9bb4;
}
#productinfo .all .top .head_prod .num_prod span:last-child {
    color: black;
    font-size: 12.5px;
}
#productinfo .all .bottom {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
#productinfo .all .bottom .left123 {
    position: relative;
    cursor: pointer;
}
#productinfo .all .bottom .left123 .percentofproduct {
    position: absolute;
    top: 5%;
    font-family: Dosis;
    left: 5%;
    padding: 4px 10px;
    z-index: 123;
    color: white;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #2bbef9;
}
#productinfo .all .bottom .left123 .playvideo {
    padding: 10px 16px;
    color: black;
    transition: 0.3s;
    position: absolute;
    bottom: 5%;
    cursor: pointer;
    left: 5%;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 0px 3px 1px grey;
}
#productinfo .all .bottom .left123 .playvideo:hover {
    background-color: grey;
}
#productinfo .all .bottom .middle {
    font-family: InterLight;
}
#productinfo .all .bottom .middle li {
    list-style: none;
    padding-bottom: 15px;
}
#productinfo .all .bottom .middle ul {
    margin: 0;
    padding: 0;
}
#productinfo .all .bottom .middle ul li:nth-child(1) {
    font-family: DosisLight;
    font-weight: 700;
}
#productinfo .all .bottom .middle ul li:nth-child(1) span:nth-child(1) {
    text-decoration: line-through;
    color: #c2c2d3;
    font-size: 19px;
}
#productinfo .all .bottom .middle ul li:nth-child(1) span:nth-child(2) {
    color: red;
    font-size: 22px;
    padding-left: 10px;
}
#productinfo .all .bottom .middle ul li:nth-child(1) span:nth-child(3) {
    color: red;
    font-size: 22px;
}
#productinfo .all .bottom .middle ul li:nth-child(2) span {
    background-color: #e5f8ed;
    color: #00bea8;
    padding: 5px 7px;
    border-radius: 15px;
    font-family: Dosis;
    font-size: 12.5px;
}
#productinfo .all .bottom .middle ul li:nth-child(3) p {
    font-size: 13px;
    color: black;
}
#productinfo .all .bottom .middle ul li:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#productinfo .all .bottom .middle ul li:nth-child(4) .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#productinfo .all .bottom .middle ul li:nth-child(4) .counter .top_counter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#productinfo .all .bottom .middle ul li:nth-child(4) .counter .top_counter span {
    font-size: 20px;
    font-family: Dosis;
    color: black;
    padding: 0 25px;
}
#productinfo .all .bottom .middle ul li:nth-child(4) .counter .top_counter button {
    color: black;
    background-color: #edeef5;
    transition: 0.3s;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 100%;
}
#productinfo .all .bottom .middle ul li:nth-child(4) .counter .top_counter button:first-child {
    padding: 8px 17px;
}
#productinfo .all .bottom .middle ul li:nth-child(4) .counter .top_counter button:hover {
    background-color: #fece09;
}
#productinfo .all .bottom .middle ul li:nth-child(4) .counter .bottom_counter span {
    font-size: 10px;
    text-align: center;
    color: red;
    display: none;
}
#productinfo .all .bottom .middle ul li:nth-child(4) button {
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #233a95;
    transition: 0.3s;
    color: white;
    font-size: 13px;
    border: none;
    font-weight: 600;
    outline: none;
}
#productinfo .all .bottom .middle ul li:nth-child(4) button:hover {
    background-color: #3d51a1;
}
#productinfo .all .bottom .middle ul li:nth-child(5) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#productinfo .all .bottom .middle ul li:nth-child(5) span {
    text-decoration: none;
    padding: 8px 10px;
    border: 0.5px solid #bdbdbd;
    color: grey;
    border-radius: 25px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 11px;
    align-items: center;
}
#productinfo .all .bottom .middle ul li:nth-child(5) span i {
    margin-right: 10px;
    color: grey;
}
#productinfo .all .bottom .middle ul li:nth-child(5) span:last-child {
    border: none;
}
#productinfo .all .bottom .middle ul li:nth-child(6) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #c4c4c4;
}
#productinfo .all .bottom .middle ul li:nth-child(6) span {
    margin-bottom: 10px;
    font-size: 12px;
}
#productinfo .all .bottom .middle ul li:nth-child(6) span i {
    color: green;
    margin-right: 8px;
}
#productinfo .all .bottom .middle ul li:nth-child(7) {
    padding-top: 15px;
}
#productinfo .all .bottom .middle ul li:nth-child(7) p {
    font-family: InterLight;
    font-weight: 500;
    font-size: 12px;
    color: #959595;
}
#productinfo .all .bottom .middle ul li:nth-child(7) p a {
    text-decoration: none;
    transition: 0.2s;
    color: #484848;
}
#productinfo .all .bottom .middle ul li:nth-child(7) p a:hover {
    color: blue;
    text-decoration: underline;
}
#productinfo .all .bottom .middle .social_media_prod {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
#productinfo .all .bottom .middle .social_media_prod i {
    padding: 7px 9px;
    border-radius: 100%;
    margin: 0px 4px;
    color: white;
    margin-left: 0;
    transition: 0.3s;
    cursor: pointer;
}
#productinfo .all .bottom .middle .social_media_prod i:hover::before {
    filter: brightness(0.7);
}
#productinfo .all .bottom .middle .social_media_prod .klbth-icon-facebook {
    background-color: #3b5998;
}
#productinfo .all .bottom .middle .social_media_prod .klbth-icon-twitter {
    background-color: #1da1f2;
}
#productinfo .all .bottom .middle .social_media_prod .klbth-icon-pinterest {
    background-color: #e60023;
}
#productinfo .all .bottom .middle .social_media_prod .klbth-icon-linkedin {
    background-color: #0077b5;
}
#productinfo .all .bottom .middle .social_media_prod .klbth-icon-reddit {
    background-color: #ff4500;
}
#productinfo .all .bottom .middle .social_media_prod .klbth-icon-whatsapp {
    background-color: #25d366;
}
#productinfo .all .bottom .right {
    display: flex;
    font-family: InterLight;
    flex-direction: column;
}
#productinfo .all .bottom .right .covidinfo {
    font-size: 12px;
    background-color: #ffeef2;
    margin-bottom: 15px;
    color: #be123c;
    padding: 10px 20px;
    text-align: center;
    border-radius: 7px;
}
#productinfo .all .bottom .right .desc {
    flex-direction: column;
    display: flex;
    padding: 25px;
    background-color: #f7f8fd;
    border-radius: 7px;
}
#productinfo .all .bottom .right .desc div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#productinfo .all .bottom .right .desc div p {
    font-size: 12px;
    color: black;
    font-weight: 500;
}
#productinfo .all .bottom .right .desc div i {
    font-size: 18px;
    color: black;
    margin-right: 20px;
}
#productinfo .all .bottom .right .desc div:last-child {
    margin-bottom: 0;
}
#prodreview .all {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}
#prodreview .all .tabmenu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #d8d8d8;
}
#prodreview .all .tabmenu .tabclick {
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
    padding-top: 0;
    color: #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: DosisLight;
    font-weight: 600;
}
#prodreview .all .tabmenu .tabclick:first-child {
    padding: 0;
    padding-right: 20px;
}
#prodreview .all .review {
    padding: 20px 0;
}
#prodreview .all .review .review_head_p {
    font-family: DosisLight;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}
#prodreview .all .review .person_rev {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#prodreview .all .review .person_rev .left {
    width: 7%;
}
#prodreview .all .review .person_rev .left img {
    width: 100%;
    border-radius: 100%;
}
#prodreview .all .review .person_rev .right {
    width: 90%;
}
#prodreview .all .review .person_rev .right .rating_prod {
    display: flex;
    margin-bottom: 12px;
}
#prodreview .all .review .person_rev .right .rating_prod i {
    color: yellow;
    font-size: 12px;
    margin: 0 2px;
}
#prodreview .all .review .person_rev .right .rating_prod .greyy {
    color: grey;
}
#prodreview .all .review .person_rev .right .nameof {
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#prodreview .all .review .person_rev .right .nameof span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#prodreview .all .review .person_rev .right .nameof span:nth-child(1) {
    font-size: 15px;
    color: black;
    font-family: Dosis;
}
#prodreview .all .review .person_rev .right .nameof span:nth-child(2) {
    font-size: 14px;
    margin-left: 3px;
    color: #71778e;
}
#prodreview .all .review .person_rev .right p {
    font-family: InterLight;
    font-weight: 600;
    font-size: 13px;
    color: black;
}
#prodreview .all .add_review {
    padding: 0;
    font-family: InterLight;
}
#prodreview .all .add_review h5 {
    padding-bottom: 15px;
    font-family: Inter;
    border-bottom: 0.5px solid #c8c8c8;
}
#prodreview .all .add_review p {
    font-size: 13px;
    color: #202334;
    margin-bottom: 15px;
}
#prodreview .all .add_review p:nth-child(1) {
    margin-top: 15px;
}
#prodreview .all .add_review .ratingkeeper {
    display: flex;
    align-items: center;
}
#prodreview .all .add_review .ratingkeeper div {
    padding: 0 10px;
    cursor: pointer;
    border-right: 0.1px solid #c8c8c8;
}
#prodreview .all .add_review .ratingkeeper div:hover i {
    color: yellow;
}
#prodreview .all .add_review .ratingkeeper div i {
    color: #c8c8c8;
    font-size: 12px;
    padding-bottom: 2px;
    cursor: pointer;
    transition: 0.3s;
}
#prodreview .all .add_review .ratingkeeper div:nth-child(1) {
    border-left: none;
    padding-left: 0;
}
#prodreview .all .add_review .ratingkeeper div:last-child {
    border-right: none;
    padding-right: 0;
}
#prodreview .all .add_review .formkeeper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#prodreview .all .add_review .formkeeper .inputkeeper {
    width: 100%;
}
#prodreview .all .add_review .formkeeper .mutleq {
    display: none;
    margin: 10px 0;
    color: red;
}
#prodreview .all .add_review .formkeeper textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f4f7;
    border: none;
    outline: none;
    height: 200px;
}
#prodreview .all .add_review .formkeeper label {
    font-size: 13px;
    margin-top: 15px;
}
#prodreview .all .add_review .formkeeper input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f4f7;
    border: none;
    margin-top: 15px;
    outline: none;
}
#prodreview .all .add_review .formkeeper .inputcheckbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#prodreview .all .add_review .formkeeper .inputcheckbox #review {
    width: 1%;
}
#prodreview .all .add_review .formkeeper .inputcheckbox label {
    width: 98%;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
#prodreview .all .add_review .formkeeper button {
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 600;
    background-color: #233a95;
}
#prodreview .all .description_p {
    padding: 0;
    padding-top: 30px;
}
#prodreview .all .description_p span {
    padding: 10px;
    display: block;
}
#prodreview .all .additional_spans {
    padding: 0;
    margin-top: 30px;
    display: flex;
}
#prodreview .all .additional_spans span {
    padding: 8px;
    display: block;
    border: 0.5px solid #c8c8c8;
}
#prodreview .all .additional_spans span:first-child {
    width: 30%;
}
#prodreview .all .additional_spans span:last-child {
    width: 70%;
}
#prodreview .all .chosen {
    color: black !important;
}
